<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%= group.name %> | Solar System Generator
  </title>
</head>

<body>
  <div class="formCard">
    <section class="form-container">
      <h1 class="gradient-text">
        <%= group.name %>
      </h1>

      <h2 class="gradient-text">Owner</h2>
      <div>
        <h3>
          <%= group.owner.username %>
        </h3>
      </div>

      <h2 class="gradient-text">Members</h2>
      <ul>
        <% if (group.members.length==0) { %>
          <h5>No Members</h5>
          <% } else { %>
            <% for( const member of group.members ) { %>
              <li>
                <p>
                  <%= member.username %>
                </p>
              </li>
              <% } %>
                <% } %>
      </ul>

      <h2 class="gradient-text">Systems</h2>
      <ul>
        <% if (group.systems.length==0) { %>
          <h5>No Systems</h5>
          <% } else { %>
            <% for( const system of group.systems ) { %>
              <a href="/systems/<%= system.systemId %>">
              </a>
              <% } %>
                <% } %>
      </ul>
      <div><a href="/addMember/<%= groupId %>">Add a Member</a></div>
      <div><a href="/addSystem/<%= groupId %>">Add a System</a></div>
    </section>
  </div>

</body>

</html>
