<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Groups | Solar Systems Generator</title>
</head>

<body>
  <h1>Groups</h1>

  <% if (groups.length===0 && ownedGroups.length===0) { %>
    <h2>You aren't in any groups.<h2>
        <div><a href="/createGroup">Create Group Now!</a></div>
        <% } else { %>
          <h2>You are in <%= groups.length + ownedGroups.length %> groups.</h2>
          <% } %>

            <ul>
              <% for( const group of groups ) { %>
                <div>
                  <a href="/api/groups/<%= group.groupId %>">
                    <%= group.name %>
                  </a>
                </div>
                <% } %>
            </ul>
            <ul>
              <% for( const group of ownedGroups ) { %>
                <div>
                  <a href="/api/groups/<%= group.groupId %>">
                    <%= group.name %>
                  </a>
                </div>
                <% } %>
            </ul>
</body>

</html>