<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css" />
    <title><%= system.name %> | Solar System Generator</title>
</head>

<body>
  <div class="formCard">
    <section class="form-container">
      <h1 class="gradient-text"><%= system.name %></h1>

    <h2 class="gradient-text">Star Type</h2>
    <div>
      <h3><%= system.starType %></h3>
    </div>

    <h2 class="gradient-text">Planets</h3>
    <ul>
        <% for( const planet of system.planets ) { %>
        <li>
            <p><%= planet.planetType %></p>
            <p><%= planet.size %></p>
            <p><%= planet.inhabitability %></p>
            <p><%= planet.rings %></p>
        </li>
        <% } %>
    </ul>
    </section>
  </div>
</body>

</html>
